.header {
  display: block;
  width: 100%;
  height: 80px;
  padding: 1rem 22px;
  background: #FFFFFF;
  margin-bottom: 26px;

  &__content {
    @extend %flex;
    justify-content: space-between;

    .logo {
      cursor: pointer;
    }

    .header-content-list {
      position: relative;

      .log-in-box {
        @extend %flex;
        gap: 27px;

        button:not(.profile-btn) {
          cursor: pointer;
          border: 1px solid transparent;
          border-radius: 5px;
          text-align: center;

          outline: 1px solid transparent;
          transition: all 0.1s ease-in-out;

          &.create-article-btn {
            padding: 3px 8px;
    
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            text-align: center;

            border: 1px solid #52C41A;
            color: #52C41A;
          }

          &.log-out-btn {
            justify-content: center;
            width: 109px;
            height: 51px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.75);
          }
                    
          &:focus {
            border: 1px solid #52C41A;
            color: #52C41A;
          }

          &:active {
            transform: scale(0.98);
          }

          &:hover {
            border: 0;
            background: #52C41A;
            color: #FFFFFF;
            outline: 1px solid #52C41A;
            outline-offset: 5px;

            transition: all 0.1s ease-in-out;
          }

          &:active {
            outline-offset: 1px;
            transform: scale(0.95);
          }
        }

        .profile-btn {
          gap: 13px;
  
          .avatar {
            width: 46px;
            height: 46px;
            border-radius: 50%;
          }
        }
  
        .create-article-btn,
        .profile-btn,
        .log-out-btn {
          @extend %flex;
        }
      }

      .log-out-box {
        @extend %flex;
        gap: 18px;

        button {
          cursor: pointer;
          border: 1px solid transparent;
          border-radius: 5px;
          text-align: center;

          outline: 1px solid transparent;
          transition: all 0.1s ease-in-out;

          &.sign-in-btn,
          &.sign-up-btn {
            justify-content: center;
            width: 109px;
            height: 51px;
            border-radius: 5px;

            &--active {
              border: 1px solid #52C41A;
              color: #52C41A;
            }
          }
  
          &:hover {
            border: 0;
            background: #52C41A;
            color: #FFFFFF;
            outline: 1px solid #52C41A;
            outline-offset: 5px;

            transition: all 0.1s ease-in-out;
          }

          &:active {
            outline-offset: 1px;
            transform: scale(0.95);
          }
        }
      }
    }
  }
}

%flex {
  display: flex;
  align-items: center;
}